# This file is an example of what /etc/ansible/hosts could be.
# If you don't want to install anything, pass the arguments `-i hosts`.

[buyvm]
benjam.info.tm

[laptops]
pipeep-laptop ansible_connection=local
pipeep-netbook

[desktops]
# Oh yeah, I don't have any of these

[workstations:children]
laptops
desktops

[headless:children]
buyvm
