#jinja2: trim_blocks: False

v=2.8.8

{% for network in irc.networks %}
{% set nick = network.nick | default(irc.nick) -%}
N={{ network.name }}{% if nick != irc.nick %} ({{ nick }}){% endif %}
I={{ nick }}
i={{ nick }}_
U={{ nick }}-{{ network.name }}
R={{ nick }}
P={{ nick }}-{{ network.name }}:{{ irc_znc_password }}
F={% if irc.znc.ssl %}45{% else %}9{% endif %}
D=0
S={{ irc.znc.address }}/{{ irc.znc.port }}
{% endfor %}
