{% set cfg = openttd_auto %}

[misc]
language = english_US.lng
screenshot_format = png
savegame_format = lzma:4

[difficulty]
competitor_speed = 2
construction_cost = 0
{{ cfg("disasters") }}
economy = false
industry_density = 5
{{ cfg("initial_interest") }}
line_reverse_mode = false
{{ cfg("max_loan") }}
max_no_competitors = 0
{{ cfg("number_towns") }}
{{ cfg("quantity_sea_lakes") }}
subsidy_multiplier = 2
{{ cfg("terrain_type") }}
{{ cfg("town_council_tolerance") }}
{{ cfg("vehicle_breakdowns") }}
{{ cfg("vehicle_costs") }}

[game_creation]
amount_of_rivers = 2
heightmap_rotation = 0
land_generator = 1
landscape = temperate
{{ cfg("map_x") }}
{{ cfg("map_y") }}
min_river_length = 16
oil_refinery_limit = 32
river_route_random = 5
se_flat_world_height = 1
snow_line_height = 7
{{ cfg("starting_year") }}
tgen_smoothness = 1
town_name = english
tree_placer = 2
variety = 0
water_borders = 15

[vehicle]
disable_elrails = false
dynamic_engines = true
extend_vehicle_life = 0
freight_trains = 1
max_aircraft = 200
max_roadveh = 500
max_ships = 300
max_train_length = 7
max_trains = 500
never_expire_vehicles = false
plane_crashes = 2
plane_speed = 4
road_side = right
roadveh_acceleration_model = 0
roadveh_slope_steepness = 7
servint_aircraft = 100
servint_ispercent = false
servint_roadveh = 150
servint_ships = 360
servint_trains = 150
smoke_amount = 1
train_acceleration_model = 0
train_slope_steepness = 3
wagon_speed_limits = true

[construction]
autoslope = true
build_on_slopes = true
clear_frame_burst = 4096
clear_per_64k_frames = 4194304
command_pause_level = 1
extra_dynamite = true
extra_tree_placement = 2
freeform_edges = true
industry_platform = 1
max_bridge_length = 64
max_tunnel_length = 64
raw_industry_construction = 0
road_stop_on_competitor_road = true
road_stop_on_town_road = true
terraform_frame_burst = 4096
terraform_per_64k_frames = 4194304
train_signal_side = 1
tree_frame_burst = 4096
tree_per_64k_frames = 4194304

[station]
adjacent_stations = true
distant_join_stations = true
modified_catchment = true
never_expire_airports = false
station_spread = 12

[economy]
allow_shares = false
allow_town_level_crossings = true
allow_town_roads = true
bribe = true
{{ cfg("dist_local_authority") }}
exclusive_rights = true
feeder_payment_share = 75
{{ cfg("found_town") }}
fund_buildings = true
fund_roads = true
give_money = true
inflation = true
infrastructure_maintenance = false
initial_city_size = 2
{{ cfg("larger_towns") }}
mod_road_rebuild = true
multiple_industry_per_town = false
smooth_economy = true
station_noise_level = false
{{ cfg("town_growth_rate") }}
town_layout = 0
town_noise_population[0] = 800
town_noise_population[1] = 2000
town_noise_population[2] = 4000

[pf]
forbid_90_deg = false
npf.maximum_go_to_depot_penalty = 2000
npf.npf_buoy_penalty = 200
npf.npf_crossing_penalty = 300
npf.npf_max_search_nodes = 10000
npf.npf_rail_curve_penalty = 100
npf.npf_rail_depot_reverse_penalty = 5000
npf.npf_rail_firstred_exit_penalty = 10000
npf.npf_rail_firstred_penalty = 1000
npf.npf_rail_lastred_penalty = 1000
npf.npf_rail_pbs_cross_penalty = 300
npf.npf_rail_pbs_signal_back_penalty = 1500
npf.npf_rail_slope_penalty = 100
npf.npf_rail_station_penalty = 100
npf.npf_road_bay_occupied_penalty = 1500
npf.npf_road_curve_penalty = 100
npf.npf_road_drive_through_penalty = 800
npf.npf_road_dt_occupied_penalty = 800
npf.npf_water_curve_penalty = 100
opf.pf_maxdepth = 48
opf.pf_maxlength = 4096
path_backoff_interval = 20
pathfinder_for_roadvehs = 2
pathfinder_for_ships = 2
pathfinder_for_trains = 2
reserve_paths = false
reverse_at_signals = false
roadveh_queue = true
wait_for_pbs_path = 30
wait_oneway_signal = 15
wait_twoway_signal = 41
yapf.disable_node_optimization = false
yapf.max_search_nodes = 10000
yapf.maximum_go_to_depot_penalty = 2000
yapf.rail_crossing_penalty = 300
yapf.rail_curve45_penalty = 100
yapf.rail_curve90_penalty = 600
yapf.rail_depot_reverse_penalty = 5000
yapf.rail_doubleslip_penalty = 100
yapf.rail_firstred_exit_penalty = 10000
yapf.rail_firstred_penalty = 1000
yapf.rail_firstred_twoway_eol = false
yapf.rail_lastred_exit_penalty = 10000
yapf.rail_lastred_penalty = 1000
yapf.rail_longer_platform_penalty = 800
yapf.rail_longer_platform_per_tile_penalty = 0
yapf.rail_look_ahead_max_signals = 10
yapf.rail_look_ahead_signal_p0 = 500
yapf.rail_look_ahead_signal_p1 = -100
yapf.rail_look_ahead_signal_p2 = 5
yapf.rail_pbs_cross_penalty = 300
yapf.rail_pbs_signal_back_penalty = 1500
yapf.rail_pbs_station_penalty = 800
yapf.rail_shorter_platform_penalty = 4000
yapf.rail_shorter_platform_per_tile_penalty = 0
yapf.rail_slope_penalty = 200
yapf.rail_station_penalty = 1000
yapf.road_crossing_penalty = 300
yapf.road_curve_penalty = 100
yapf.road_slope_penalty = 200
yapf.road_stop_bay_occupied_penalty = 1500
yapf.road_stop_occupied_penalty = 800
yapf.road_stop_penalty = 800

[order]
no_servicing_if_no_breakdowns = true
improved_load = true
selectgoods = true
serviceathelipad = true
gradual_loading = true

[script]
settings_profile = easy
script_max_opcode_till_suspend = 10000

[ai]
ai_in_multiplayer = true
ai_disable_veh_train = false
ai_disable_veh_roadveh = false
ai_disable_veh_aircraft = false
ai_disable_veh_ship = false

[locale]
currency = {{ openttd.currency }}
units = {{ openttd.units }}
digit_group_separator = 
digit_group_separator_currency = 
digit_decimal_separator = 

[gui]
autosave = monthly
threaded_saves = true
date_format_in_default_names = long
pause_on_newgame = false

[sound]

[music]

[news_display]

[network]
commands_per_frame = 2
max_commands_in_queue = 16
bytes_per_frame = 8
bytes_per_frame_burst = 256
max_init_time = 100
max_join_time = 500
max_download_time = 1000
max_password_time = 2000
max_lag_time = 500
pause_on_join = true
server_port = 3979
server_admin_port = 3977
server_admin_chat = true
server_advertise = false
lan_internet = 0
client_name = Server
server_password = {{ openttd_password }}
rcon_password = {{ openttd_rcon_password }}
admin_password = {{ openttd_admin_password }}
default_company_pass = 
server_name = {{ openttd.server_name }}
connect_to_ip = 
network_id = 
autoclean_companies = false
autoclean_unprotected = 12
autoclean_protected = 36
autoclean_novehicles = 0
max_companies = 15
max_clients = 25
max_spectators = 15
restart_game_year = 0
min_active_clients = 1
server_lang = {{ openttd.language }}
reload_cfg = false
last_host = 
last_port = 0
no_http_content_downloads = false

[currency]
rate = 1
separator = .
to_euro = 0
prefix = ""
suffix = " credits"

[company]
engine_renew = false
engine_renew_months = 6
engine_renew_money = 100000
renew_keep_length = false

[server_bind_addresses]

[servers]

[bans]

[newgrf]

[newgrf-static]

[ai_players]
none = start_date=730
none = start_date=730
none = start_date=730
none = start_date=730
none = start_date=730
none = start_date=730
none = start_date=730
none = start_date=730
none = start_date=730
none = start_date=730
none = start_date=730
none = start_date=730
none = start_date=730
none = start_date=730
none = start_date=730

[game_scripts]
none = 

[version]
version_string = 
version_number = 
